<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  <main class="container">
    <div class="jumbotron">
      <h6 class="alert alert-primary" role="alert">Welcome to the <%= title %> page!</h6>
      <h6 class="alert alert-secondary" role="alert">This is my first web application!</h6>
      <h6 class="alert alert-success" role="alert">Please feel free to contact me if you have any question about this webpage!</h6>
      <a href="/contact"> Contact me! </a>
    </div>
  </main>
  <!--Bottom nav-->
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>